h3{
	text-align: center;
	margin: 0px;
	font-family: "Helvetica Neue", serif;
	color: black;
}

#popup-background{
	border-width: 2px;
	border-style: solid;
	border-color: #CD2027;

	background-color: #FFFFFF;
	
	width:300px;
	border-radius: 5px;
	padding: 5px;
}
